APPTAINER_IMAGE="oras://ghcr.io/rs-dat/jupyterdaskcloud2cluster:latest"
SLURM_USER="login-name"
SLURM_SSH_KEY="/path/to/the/ssh/key"
SLURM_HOST="hostname.surf.nl"
DCACHE_TOKEN="paste-the-macaroon-here"
